<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Personal Profile</h1>
</div>
<div class="wrapper-md" ng-controller="PersonalProfileController">
    <div class="panel panel-default">
        <tabset class="tab-container">
            <tab>
                <tab-heading>
                    Information
                </tab-heading>
                <form name="userForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Salutation</label>

                        <div class="col-lg-10">
                            <select class="form-control" ng-model="user.contactPerson">
                                <option value="Mr" ng-selected="user.salutation == 'Mr'">
                                    Mr
                                </option>
                                <option value="Ms" ng-selected="user.salutation == 'Ms'">
                                    Ms
                                </option>
                                <option value="Mrs" ng-selected="user.salutation == 'Mrs'">
                                    Mrs
                                </option>
                                <option value="Dr" ng-selected="user.salutation == 'Dr'">
                                    Dr
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="user.name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Contact Number</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="user.contactNumber" class="form-control"
                                   placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="user.title" class="form-control"
                                   placeholder="Title">
                        </div>
                    </div>
                    <label class="col-lg-2 control-label">Profile Picture</label>

                    <div class="col-lg-10">
                        <img id="picture" class="mc-logo image-preview" src="img/logo_placeholder.png"
                             ng-src="{{user.picture}}"/>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" click-selector="#upload-logo">Upload
                                Image
                            </button>
                            <input id="upload-logo" type="file" file-model="picture" accept="image/*"
                                   style="display: none;">
                            <button type="button" class="btn btn-default" ng-click="removeImage()">Remove</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-sm btn-info" ng-click="save(user)">Save
                            </button>
                            <button class="btn btn-sm btn-danger" back-button>Cancel</button>
                        </div>
                    </div>
                </form>
            </tab>
            <tab>
                <tab-heading>
                    Change Password
                </tab-heading>
                <form name="changePasswordForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Current Password</label>

                        <div class="col-lg-10">
                            <input type="password" ng-model="user.currentPassword" class="form-control" placeholder="Current Password" ng-minlength="5" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">New Password</label>

                        <div class="col-lg-10">
                            <input name="password" type="password" ng-model="user.newPassword" class="form-control" placeholder="New Password" ng-minlength="5" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Confirm New Password</label>

                        <div class="col-lg-10">
                            <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm New Password" ng-minlength="5"
                                   ng-model="user.confirmPassword" ui-validate="'$value==user.newPassword'" ui-validate-watch="'user.newPassword'" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-sm btn-info" ng-click="changePassword()" ng-disabled="!changePasswordForm.$valid">Save
                            </button>
                            <span class="btn btn-sm btn-danger" back-button>Cancel</span>
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>
