<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="CompanyAddUpdateController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="form" class="form-horizontal form-validation"
                          ng-switch="userCompanyDTO.company.companyType">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Logo</label>

                            <div class="col-lg-10">
                                <img ngf-thumbnail="logo[0]" class="mc-logo" ng-src="/api/content?contentPath={{userCompanyDTO.company.logo.url}}">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-model="logo" ngf-max-size='1000000' accept="'image/*'" ngf-select ngf-change="uploadPhoto(logo)">Upload
                                        Image
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="removePhoto()">Remove</button>
                                    <input name="fileName" class="form-control" ng-model="logo[0].name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Type</label>

                            <div class="col-lg-10">
                                <select name="type" ng-model="userCompanyDTO.company.companyType" class="form-control" ng-change="changeBusinessType()" required>
                                    <option value="SUPPLIER">Supplier</option>
                                    <option value="EATERY">Eatery</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="userCompanyDTO.company.companyType == 'EATERY'" >
                            <label class="col-lg-2 control-label">Business Type</label>

                            <div class="col-lg-10">
                                <select name="companyType" class="form-control"  ng-model="userCompanyDTO.company.eateryDetails.businessType" ng-options="type.name for type in businessTypes" >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Company Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="userCompanyDTO.company.name"
                                       placeholder="Company Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Company Code</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="userCompanyDTO.company.code"
                                       placeholder="Company Code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" ng-model="userCompanyDTO.company.email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Contact number</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="userCompanyDTO.company.contactNumber"
                                       placeholder="Contact number" required>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="!companyId || companyStatus == 'PENDING'">
                            <label class="col-lg-2 control-label">Status</label>

                            <div class="col-lg-10">
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio" ng-model="userCompanyDTO.company.status" name="status" value="ACTIVE">
                                        <i></i> Active
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio" ng-model="userCompanyDTO.company.status" name="status" value="INACTIVE"
                                               checked>
                                        <i></i> Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <span type="submit" class="btn btn-sm btn-info" ng-disabled="form.$invalid"
                                      ng-show="!companyId" ng-disabled="addEditForm.$invalid" ng-click="addCompany()">Send Invitation</span>
                                <span type="submit" class="btn btn-sm btn-info"
                                      ng-show="companyId && companyStatus == 'PENDING'"
                                      ng-disabled="addEditForm.$invalid"
                                      ng-click="updateCompanyInfo()">Update and Send</span>
                                <span type="submit" class="btn btn-sm btn-info"
                                      ng-show="companyId && companyStatus != 'PENDING'"
                                      ng-disabled="addEditForm.$invalid" ng-click="addCompany()">Update</span>
                                <span class="btn btn-sm btn-danger" back-button>Cancel</span>
                                <span class="btn btn-sm btn-danger" ng-click="deleteCompany()" ng-hide="!companyId">Delete</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6" ng-hide="!companyId">
            <div class="panel panel-default">
                <h4 class="text-center">Invitation History</h4>

                <div class="table-responsive">
                    <table st-table="rowCollectionPage" st-safe-src="invitationHistory"
                           class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" st-sort="email">Email</th>
                            <th class="text-center" st-sort="createdDate">Sent</th>
                            <th class="text-center" st-sort="status">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in invitationHistory">
                            <td>{{row.company.email}}</td>
                            <td>{{row.createdDate | date:"EEEE, MMM dd.yyyy h:mma"}}</td>
                            <td>{{row.status}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"
                                     class="no-margin"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
