<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="ManageCompanyEmployeesController">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table st-table="rowCollection" st-safe-src="employees" class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" st-sort="email">Email Address</th>
                            <th class="text-center" st-sort="firstName">Name</th>
                            <th class="text-center" st-sort="title">Title</th>
                            <th class="text-center" st-sort="contactNumber">Contact Number</th>
                            <th class="text-center" st-sort="role">Access</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rowCollection">
                            <td>{{row.email}}</td>
                            <td>{{row.firstName}}</td>
                            <td>{{row.title}}</td>
                            <td>{{row.contactNumber}}</td>
                            <td>{{row.role}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination class="no-margin"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
