<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Manage Company</h1>
    <a ui-sref="app.manageCompany.add" class="btn btn-info btn-rounded pull-right">Add New Company</a>
</div>
<div class="wrapper-md" ng-controller="ManageCompanyListController">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table st-table="rowCollection" st-safe-src="companies" class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center" st-sort="code">Company Code</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center" st-sort="name">Name</th>
                    <th class="text-center" st-sort="companyType">Type</th>
                    <th class="text-center" st-sort="createdDate">Created</th>
                    <th class="text-center" st-sort="status">Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3">
                        <input st-search placeholder="Search Company Name or Code" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-switch="row.companyType" ng-repeat="row in rowCollection">
                    <td>{{row.code}}</td>
                    <td><img class="company-logo-small" ng-src="/api/content?contentPath={{row.logo.url}}" alt="{{row.name}}"></td>
                    <td>{{row.name}}</td>
                    <td>{{row.companyType}}</td>
                    <td>{{row.createdDate | date}}</td>
                    <td>{{row.status}}</td>
                    <td>
                        <a ui-sref="app.manageCompany.edit({id: row.id })" class="btn btn-default btn-rounded">
                            Edit Info
                        </a>
                    </td>
                    <td>
                        <a ui-sref="app.manageCompany.outlets({companyId: row.id })" class="btn btn-default btn-rounded" ng-show="row.companyType == 'EATERY' && row.status == 'ACTIVE'">
                            View Outlets
                        </a>
                    </td>
                    <td>
                        <a ui-sref="app.manageCompany.employees({id: row.id })" class="btn btn-default btn-rounded" ng-show="row.status == 'ACTIVE'">
                            View Employees
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="text-center">
                    <td colspan="9" class="text-center">
                        <div st-pagination class="no-margin"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
