<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Manage Company</h1>
    <a ui-sref="app.manageCompany.add" class="btn btn-info btn-rounded pull-right">Add New Company</a>
</div>
<div class="wrapper-md" ng-controller="ManageCompanyListController">
    <div class="panel panel-default">
        <div class="additional-padding">
            <div class="col-sm-4">
                <input st-search placeholder="Search Company Name or Code" class="input-sm form-control" type="search"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table st-table="rowCollectionPage" class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center" st-sort="companyCode">Company Code</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center" st-sort="name">Name</th>
                    <th class="text-center" st-sort="type">Type</th>
                    <th class="text-center" st-sort="created">Created</th>
                    <th class="text-center" st-sort="status">Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-switch="row.businessType" ng-repeat="row in companies">
                    <td ng-switch-when="EATERY">{{row.eateryDetails.code}}</td>
                    <td ng-switch-when="SUPPLIER">{{row.supplierDetails.code}}</td>
                    <td ng-switch-when="EATERY"><img ng-src="{{row.eateryDetails.logo}}" alt="{{row.name}}"></td>
                    <td ng-switch-when="SUPPLIER"><img ng-src="{{row.supplierDetails.logo}}" alt="{{row.name}}"></td>
                    <td>{{row.name}}</td>
                    <td>{{row.businessType}}</td>
                    <td>{{row.created | date}}</td>
                    <td>{{row.status}}</td>
                    <td>
                        <a ui-sref="app.manageCompany.edit({id: {{row.id}} })" class="btn btn-default btn-rounded">
                            Edit Info
                        </a>
                    </td>
                    <td>
                        <a ui-sref="app.manageCompany.outlets({id: {{row.id}} })" class="btn btn-default btn-rounded" ng-show="row.businessType == 'EATERY' && row.status == 'Active'">
                            View Outlets
                        </a>
                    </td>
                    <td>
                        <a ui-sref="app.manageCompany.employees({id: {{row.id}} })" class="btn btn-default btn-rounded" ng-show="row.status == 'Active'">
                            View Employees
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                             class="no-margin"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
