<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="OutletsAddEditController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Outlets Name</label>
                            <div class="col-lg-10">
                                <input type="text" ng-model="outlet.name" class="form-control" placeholder="Outlets Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Status</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio"  ng-model="outlet.status" name="status" value="active">
                                        <i></i> Active
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio" name="status" value="inactive" checked>
                                        <i></i> Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-sm btn-info" ng-click="save(outlet)">Save</button>
                                <span class="btn btn-sm btn-danger" ng-click="cancel()">Cancel</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
