<!-- list -->
<ul class="nav">
    <li>
        <a ui-sref="app.overview">
            <span class="font-bold">Overview</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.order">
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrder">
            <span class="font-bold">Standing Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.payment">
            <span class="font-bold">Payment</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.store">
            <span class="font-bold">Store</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.inventory">
            <span class="font-bold">Inventory</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.suplier">
            <span class="font-bold">Suplier</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.setting">
            <span class="font-bold">Setting</span>
        </a>
    </li>
    <li class="line dk hidden-folded"></li>
    <li>
        <a ui-sref="app.personalProfile">
            <span>Personal Profile</span>
        </a>
    </li>
</ul>
<!-- / list -->
