<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Hi,
        </p>
        <p >
            Welcome to KitchenBoost! We're so excited your company has given us the opportunity to work with you.

            Your KitchenBoost account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}?key=${user.activationKey}|}">Activation Link</a>
        </p>
        <p >
            Welcome again to the KitchenBoost family!
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Cheers, </span>
            <br/>
            <em th:text="#{email.signature}">KitchenBoost Team.</em>
        </p>
    </body>
</html>
