<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-dashboard text-info-dker"></i>
            <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.overview">
            <i class="glyphicon glyphicon-th-large text-info-dker"></i>
            <span class="font-bold">Overview</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.order">
            <i class="glyphicon glyphicon-shopping-cart text-info-dker"></i>
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrder">
            <i class="glyphicon glyphicon-shopping-cart text-info-dker"></i>
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.payment">
            <i class="glyphicon glyphicon-credit-card text-info-dker"></i>
            <span class="font-bold">Payment</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.store">
            <i class="glyphicon glyphicon-apple text-info-dker"></i>
            <span class="font-bold">Store</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.inquiry">
            <i class="glyphicon glyphicon-paperclip text-info-dker"></i>
            <span class="font-bold">Inquiry</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.inventory">
            <i class="glyphicon glyphicon-list-alt text-info-dker"></i>
            <span class="font-bold">Inventory</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.suplier">
            <i class="glyphicon glyphicon-transfer text-info-dker"></i>
            <span class="font-bold">Suplier</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.setting">
            <i class="glyphicon glyphicon-cog text-info-dker"></i>
            <span class="font-bold">Setting</span>
        </a>
    </li>

    <li class="line dk hidden-folded"></li>
    <li>
        <a ui-sref="app.companySettings.profile">
            <i class="icon-briefcase icon"></i>
            <span>Company Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.personalProfile">
            <i class="icon-user icon"></i>
            <span>Personal Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.teamMember">
            <i class="icon-users icon"></i>
            <span>Team Member</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.activityLog">
            <i class="icon-info icon"></i>
            <span>Activity Log</span>
        </a>
    </li>
</ul>
<!-- / list -->
