<!-- list -->
<ul class="nav">
    <li>
        <a ui-sref="app.manageCompany.list">
            <span class="font-bold">Manage Company</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.productType">
            <span class="font-bold">Product Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.taxType">
            <span class="font-bold">Tax Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.publicHoliday">
            <span class="font-bold">Public Holiday</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.systemAnnouncement">
            <span class="font-bold">System Announcement</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.businessType">
            <span class="font-bold">Business Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.unit">
            <span class="font-bold">Unit</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.paymentTerms">
            <span class="font-bold">Payment Terms</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.eateryInvitation">
            <span class="font-bold">Eatery Invitation</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrderConvertion">
            <span class="font-bold">Standing Order Convertion</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.currency">
            <span class="font-bold">Currency</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.deliveryLocation">
            <span class="font-bold">Delivery Location</span>
        </a>
    </li>
</ul>
<!-- / list -->
