<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li>
        <a ui-sref="app.manageCompany.list">
            <i class="glyphicon glyphicon-wrench text-info-dker"></i>
            <span class="font-bold">Manage Company</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.productType">
            <i class="glyphicon glyphicon-star text-info-dker"></i>
            <span class="font-bold">Product Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.taxType">
            <i class="glyphicon glyphicon-leaf text-info-dker"></i>
            <span class="font-bold">Tax Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.publicHoliday">
            <i class="glyphicon glyphicon-calendar text-info-dker"></i>
            <span class="font-bold">Public Holiday</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.systemAnnouncement">
            <i class="glyphicon glyphicon-dashboard text-info-dker"></i>
            <span class="font-bold">System Announcement</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.businessType">
            <i class="glyphicon glyphicon-briefcase text-info-dker"></i>
            <span class="font-bold">Business Type</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.unit">
            <i class="glyphicon glyphicon-tag text-info-dker"></i>
            <span class="font-bold">Unit</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.paymentTerms">
            <i class="glyphicon glyphicon-credit-card text-info-dker"></i>
            <span class="font-bold">Payment Terms</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.eateryInvitation">
            <i class="glyphicon glyphicon glyphicon-inbox text-info-dker"></i>
            <span class="font-bold">Eatery Invitation</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrderConvertion">
            <i class="glyphicon glyphicon-time text-info-dker"></i>
            <span class="font-bold">Standing Order Convertion</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.currency">
            <i class="glyphicon glyphicon-usd text-info-dker"></i>
            <span class="font-bold">Currency</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.deliveryLocation">
            <i class="glyphicon glyphicon-map-marker text-info-dker"></i>
            <span class="font-bold">Delivery Location</span>
        </a>
    </li>
</ul>
<!-- / list -->
