<div class="wrapper-md" ng-controller="UnitListController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-info btn-rounded" ng-click="addNewUnit()">Add New Unit</button>

                    <ul ui-sortable="sortableOptions" class="list-group gutter list-group-lg list-group-sp types-list"
                        ng-model="units">
                        <li class="list-group-item" ng-repeat="unit in units">

                            <button class="btn btn-danger btn-rounded pull-right" ng-click="removeUnit(unit.id)">
                                Delete
                            </button>

                            <div class="clear type-name" ng-click="editUnit(unit)">
                                {{ unit.unitSymbol }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6" ng-show="unit.id || newUnit">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="addEditForm" class="form-horizontal form-validation">
                        <div class="form-group text-center">
                            <div class="checkbox col-xs-6">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="unit.available" required><i></i> Available for selection
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Unit symbol</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="unit.unitSymbol" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Unit description</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="unit.description" required>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="form-group text-center">
                            <div class="checkbox col-xs-6">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="isCompositeUnit"><i></i> This is a composite unit
                                </label>
                            </div>
                        </div>
                        <div ng-show="isCompositeUnit">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Composition small unit</label>

                            <div class="col-sm-5">
                                <select class="form-control" name="unitSymbol" ng-model="componentIndex">
                                    <option ng-repeat="composeUnit in composeUnits" ng-value="$index" ng-selected="composeUnit.id == unit.component.id">{{composeUnit.unitSymbol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Equivalent quantity</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="unit.equivalentQuantity">
                            </div>
                        </div>
                            </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-sm-10">
                                <button class="btn btn-danger btn-rounded" ng-click="removeUnit(unit.id)">
                                    DELETE
                                </button>
                                <button ng-click="saveUnit()" ng-disabled="addEditForm.$invalid"
                                        class="btn btn-info btn-rounded">SAVE
                                </button>
                                <button class="btn btn-rounded" ng-click="cancel()">Revert changes</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-sm-10">
                                <button class="btn btn-rounded " ui-sref="app.unit.products({unitId: unit.id })">View products</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



