<nav ng-if="pages.length >= 2">
    <ul class="pagination">
        <li ng-class="{disabled: noPrevious()}">
            <a href ng-click="selectPage(currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in pages track by $index" ng-class="{active: page==currentPage}">
            <a href ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled: noNext()}">
            <a href ng-click="selectPage(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>
