<div class="container w-xxl w-auto-xs" ng-controller="SignUpController">
    <a href class="navbar-brand block m-t">{{app.name}}</a>

    <div class="m-b-lg" ng-hide="expired || created">
        <div class="wrapper text-center">
            <strong>Welcome to Kitchen Boost! A simple setup to confirm your company and personal details</strong>
        </div>
        <form name="signUpForm" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" name="password" placeholder="New Password" class="form-control no-border"
                           ng-model="user.password" required>
                </div>
                <div class="list-group-item">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control no-border"
                           ng-model="user.confirmPassword" ui-validate="'$value==user.password'" ui-validate-watch="'user.password'" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="Name" class="form-control no-border" ng-model="user.name" required>
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Contact Number" class="form-control no-border"
                           ng-model="user.contactNumber" required>
                </div>
            </div>
            <span class="btn btn-lg btn-primary btn-block" ng-click="signup(user)" ng-disabled="!signUpForm.$valid && !expired">Create Account
            </span>
        </form>
    </div>
    <div class="m-b-lg" ng-show="expired">
        <div class="wrapper text-center">
            <strong>Your invitation link has expired.</strong>
        </div>
    </div>
    <div class="m-b-lg" ng-show="created">
        <div class="wrapper text-center">
            <strong class="additional-padding">Your account has been created!<br> Congratulations and Welcome Onboard!</strong>
            <a ng-href="/super_admin/index.html" class="btn btn-info btn-rounded" ng-show="user.role == 'ROLE_SUPER_ADMIN'">Great! Take me to the App!</a>
            <a ng-href="/supplier/index.html" class="btn btn-info btn-rounded" ng-show="user.role == 'ROLE_SUPPLIER_ADMIN' || user.role == 'ROLE_SUPPLIER' ">Great! Take me to the App!</a>
            <a ng-href="/supplier/index.html" class="btn btn-info btn-rounded" ng-show="user.role == 'ROLE_EATERY_ADMIN' || user.role == 'ROLE_EATERY' ">Great! Take me to the App!</a>
        </div>
    </div>
    <div class="text-center">
        <p>
            <small class="text-muted">KbApp &copy; 2015</small>
        </p>
    </div>
</div>
