<div>

    <h2 translate="kbappApp.systemAnnouncement.home.title">SystemAnnouncement</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveSystemAnnouncementModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="kbappApp.systemAnnouncement.home.createLabel">Create a new SystemAnnouncement</span>
    </button>
    <div class="modal fade" id="saveSystemAnnouncementModal" tabindex="-1" role="dialog" aria-labelledby="mySystemAnnouncementLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySystemAnnouncementLabel" translate="kbappApp.systemAnnouncement.home.createOrEditLabel">Create or edit a SystemAnnouncement</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="systemAnnouncement.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="kbappApp.systemAnnouncement.assignmentType">AssignmentType</label>
                            <input type="text" class="form-control" name="assignmentType"
                                   ng-model="systemAnnouncement.assignmentType">

                            <div ng-show="editForm.assignmentType.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.systemAnnouncement.subject">Subject</label>
                            <input type="text" class="form-control" name="subject"
                                   ng-model="systemAnnouncement.subject">

                            <div ng-show="editForm.subject.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.systemAnnouncement.message">Message</label>
                            <input type="text" class="form-control" name="message"
                                   ng-model="systemAnnouncement.message">

                            <div ng-show="editForm.message.$invalid">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSystemAnnouncementConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(systemAnnouncement.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="kbappApp.systemAnnouncement.delete.question" translate-values="{id: '{{systemAnnouncement.id}}'}">Are you sure you want to delete this SystemAnnouncement?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="kbappApp.systemAnnouncement.assignmentType">AssignmentType</th>
                    <th translate="kbappApp.systemAnnouncement.subject">Subject</th>
                    <th translate="kbappApp.systemAnnouncement.message">Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="systemAnnouncement in systemAnnouncements">
                    <td><a ui-sref="systemAnnouncementDetail({id:systemAnnouncement.id})">{{systemAnnouncement.id}}</a></td>
                    <td>{{systemAnnouncement.assignmentType}}</td>
                    <td>{{systemAnnouncement.subject}}</td>
                    <td>{{systemAnnouncement.message}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="systemAnnouncementDetail({id:systemAnnouncement.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(systemAnnouncement.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(systemAnnouncement.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
