<!-- list -->
<ul class="nav">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.overview">
            <span class="font-bold">Overview</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.order">
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrder">
            <span class="font-bold">Standing Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.paymentSchedule">
            <span class="font-bold">Payment Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.deliverySchedule">
            <span class="font-bold">Delivery Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.customer">
            <span class="font-bold">Customer</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.inquiry">
            <span class="font-bold">Inquiry</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.product">
            <span class="font-bold">Product</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.pricing">
            <span class="font-bold">Pricing</span>
        </a>
    </li>
    <li><a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
        <span class="font-bold">Settings</span>
    </a>
        <ul class="nav nav-sub dk">
            <li>
                <a ui-sref="app.companySettings">
                    <span class="font-bold">Company Settings</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.personalProfile">
                    <span class="font-bold">Personal Profile</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.teamMember">
                    <span class="font-bold">Team Member</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.activityLog">
                    <span class="font-bold">Activity Log</span>
                </a>
            </li>
        </ul>
    </li>


</ul>
<!-- / list -->
