<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Team Members</h1>
    <a ui-sref="app.teamMemberAdd()" class="btn btn-info btn-rounded pull-right">Invite New Member</a>
</div>
<div class="wrapper-md" ng-controller="TeamMembersController">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table st-table="rowCollectionPage" class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center" st-sort="email">Email</th>
                    <th class="text-center" st-sort="name">Name</th>
                    <th class="text-center" st-sort="title">Title</th>
                    <th class="text-center" st-sort="contactNumber">Contact Number</th>
                    <th class="text-center" st-sort="access">Access</th>
                    <th class="text-center" st-sort="status">Status</th>
                    <th class="text-center" st-sort="customersNumber">Number of Customers Under Charge</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in teamMembers">
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.email}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.salutation}} {{row.userDTO.firstName}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.userDTO.title}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.company.contactNumber}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.userDTO.role}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.company.status}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.id}} })">{{row.userDTO.outletCount}}</td>
                    <td>
                        <a ui-sref="app.teamMemberCustomers({id: {{row.id}} })" class="btn btn-default btn-rounded"
                           ng-show="row.customersNumber > 0">
                            View Customers
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"
                             class="no-margin"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
