<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Team Members</h1>
    <a ui-sref="app.teamMemberAdd" class="btn btn-info btn-rounded pull-right">Invite New Member</a>
</div>
<div class="wrapper-md" ng-controller="TeamMembersController">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table st-table="rowCollection" st-safe-src="teamMembers" class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center" st-sort="userDTO.email">Email</th>
                    <th class="text-center" st-sort="userDTO.firstName">Name</th>
                    <th class="text-center" st-sort="userDTO.title">Title</th>
                    <th class="text-center" st-sort="userDTO.contactNumber">Contact Number</th>
                    <th class="text-center" st-sort="userDTO.role">Access</th>
                    <th class="text-center" st-sort="userDTO.status">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rowCollection"  ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.email}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.firstName}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.title}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.contactNumber}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.role}}</td>
                    <td ui-sref="app.teamMemberEdit({id: {{row.userDTO.id}} })">{{row.userDTO.status}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination class="no-margin"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
