<div class="bg-light lter b-b wrapper-md clearfix">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="TaxTypeAddEditController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="addEditForm" class="form-horizontal form-horizontal col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Tax Type Code</label>
                            <input type="text" ng-model="taxType.code" class="form-control" placeholder="Tax Type Code"
                                   required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" ng-model="taxType.name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Available</label>
                            <select name="type" ng-model="taxType.available" class="form-control"
                                    ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"
                                    required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Calculation Type</label>
                            <select name="type" ng-model="taxType.calculationType" class="form-control"
                                    ng-options="type.name for type in calculationTypes" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Percentage</label>
                            <input type="number" ng-model="taxType.percentage" class="form-control" placeholder="%"
                                   required>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-sm btn-error" ng-click="delete()">Delete</button>
                                <button type="submit" class="btn btn-sm btn-info" ng-disabled="addEditForm.$invalid"
                                        ng-click="save()"
                                        ng-disabled="!form.$valid">Save
                                </button>
                                <span class="btn btn-sm btn-danger" back-button>Cancel</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
