<div class="bg-light lter b-b wrapper-md clearfix">
    <h1 class="m-n font-thin h3 pull-left">Company Profile</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <tabset class="tab-container">
            <tab ng-controller="CompanyProfileCompanyController">
                <tab-heading>
                    Company
                </tab-heading>
                <form name="companyForm" class="form-horizontal form-validation">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company Code</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.code" class="form-control" placeholder="Company Code"
                                   disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company Name</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.name" class="form-control" placeholder="Company Name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Business Registration No.</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.eateryDetails.busRegNumber" class="form-control"
                                   placeholder="Business Registration No.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Billing Address</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.eateryDetails.billingAddress" class="form-control"
                                   placeholder="Billing Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Postal Code</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.eateryDetails.postalCode" class="form-control"
                                   placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company Contact Number</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.contactNumber" class="form-control"
                                   placeholder="Company Contact Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company Fax Number</label>

                        <div class="col-lg-10">
                            <input type="text" ng-model="company.eateryDetails.faxNumber" class="form-control"
                                   placeholder="Company Fax Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company Email Address</label>

                        <div class="col-lg-10">
                            <input type="email" ng-model="company.email" class="form-control"
                                   placeholder="Company Email Address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Logo</label>

                        <div class="col-lg-10">
                            <img ngf-thumbnail="logo[0]" class="mc-logo"
                                 ng-src="/api/content?contentPath={{company.logo.url}}">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="logo" ngf-select
                                        ngf-change="uploadPhoto(logo)">Upload
                                    Image
                                </button>
                                <button type="button" class="btn btn-default" ng-click="removePhoto()">Remove</button>
                                <input name="fileName" class="form-control" ng-model="logo[0].name" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Optional Image to Appear at Top-Right Corner of Purchase
                            Orders</label>

                        <div class="col-lg-10">
                            <img ngf-thumbnail="optionalImage[0]" class="mc-logo"
                                 ng-src="/api/content?contentPath={{company.eateryDetails.topRightPicture.url}}">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="optionalImage" ngf-select
                                        ngf-change="uploadOptionalImage(optionalImage)">Upload
                                    Image
                                </button>
                                <button type="button" class="btn btn-default" ng-click="removeOptionalImage()">Remove
                                </button>
                                <input name="fileName" class="form-control" ng-model="optionalImage[0].name" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Main Contact person for Supplier</label>

                        <div class="col-lg-10">
                            <select class="form-control" ng-model="company.contactPerson">
                                <option ng-repeat="contactPerson in company.users"
                                        value="{{contactPerson}}"
                                        ng-selected="contactPerson.id == company.contactPerson.id">
                                    {{contactPerson.name}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-sm">View Purchase Order Template</button>
                        </div>
                        <div class="col-lg-9 col-lg-offset-1">
                            <span type="submit" ng-disabled="!companyForm.$valid" class="btn btn-sm btn-info"
                                  ng-click="saveCompany()">Save Changes</span>
                            <button class="btn btn-sm btn-danger" ng-click="revert()">Revert Changes</button>
                        </div>
                    </div>
                </form>
            </tab>
            <!--   -->
            <tab ng-controller="CompanyProfileOutletsController">
                <tab-heading>
                    Outlet
                </tab-heading>
                <accordion close-others="true">
                    <accordion-group heading="{{outlet.name}}" ng-repeat="outlet in outlets">
                        <form name="addEditForm" class="form-horizontal form-validate">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Outlet Name</label>

                                <div class="col-lg-10">
                                    <input type="text" ng-model="outlet.name" class="form-control"
                                           placeholder="Outlet Name" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Delivery Address</label>

                                <div class="col-lg-10">
                                    <input type="text" ng-model="outlet.deliveryAddress" class="form-control"
                                           placeholder="Delivery Address" required
                                           ng-disabled="currentOutlet.id != outlet.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Postal Code</label>

                                <div class="col-lg-10">
                                    <input type="text" ng-model="outlet.postalCode" min="1" max="999999"
                                           class="form-control" placeholder="Postal Code"
                                           ng-disabled="currentOutlet.id != outlet.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Outlet Contact Number</label>

                                <div class="col-lg-10">
                                    <input type="text" ng-model="outlet.contactNumber" class="form-control"
                                           placeholder="Outlet Contact Number" required
                                           ng-disabled="currentOutlet.id != outlet.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Outlet Email Address</label>

                                <div class="col-lg-10">
                                    <input type="email" ng-model="outlet.email" class="form-control"
                                           placeholder="Outlet Email Address" required
                                           ng-disabled="currentOutlet.id != outlet.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-sm btn-info" ng-click="edit(outlet)"
                                            ng-hide="currentOutlet.id == outlet.id" ng-disabled="addEditForm.$invalid">
                                        Edit
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-info" ng-click="save(outlet)"
                                            ng-show="currentOutlet.id == outlet.id" ng-disabled="addEditForm.$invalid">
                                        Save
                                    </button>
                                    <button class="btn btn-sm btn-danger" back-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </tab>
        </tabset>
    </div>
</div>
