<div ng-controller="StoreController">
    <div class="bg-light lter b-b wrapper-md ng-scope clearfix">
        <div class="input-group col-xs-6 col-sm-3 pull-left">
            <input type="text" ng-model="searchQuery" ng-enter="search()"
                   class="form-control input-sm bg-light no-border rounded padder"
                   placeholder="Search..." aria-autocomplete="list" aria-expanded="false">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                      </span>
        </div>
        <span ng-click="toggleDialog()" class="btn btn-sm btn-default pull-right" ng-show="admin"><i
            class="fa fa-shopping-cart fa-fw m-r-xs"></i> Inquiry Cart ({{cartItems}})</span>
    </div>
    <div ui-view></div>
    <div class="wrapper-md" ng-show="cartDialogOpened">
        <div class="panel panel-default cart-dialog">
            <div class="col-sm-12">
                <i class="fa fa-times-circle-o pull-right close-icon" ng-click="toggleDialog()"></i>
            </div>

            <div class="panel-body scroll-box-big">
                <accordion>
                    <accordion-group heading="{{inquiry.supplier.supplier.name}}"
                                     ng-repeat="inquiry in cartInquiries">
                        <form name="addEditForm" class="form-horizontal col-sm-12 form-validate">
                            <div class="form-group">
                                <label class="control-label">Message</label>

                                <textarea class="form-control" rows="5" placeholder="Type your message" ng-model="inquiry.message"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">How many delivery per week</label>
                                <select class="form-control" name="numberOfHours" ng-model="inquiry.deliveryPerWeek"
                                        ng-options="n for n in [] | range:1:7" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">For which outlets</label>

                                <div class="scroll-box">
                                    <div class="table-responsive">
                                        <table st-table="outlets" st-safe-src="outlets"
                                               class="table table-striped">
                                            <tbody>
                                            <tr ng-repeat="row in outlets">
                                                <td>
                                                    <div class="checkbox">
                                                        <label class="i-checks">
                                                            <input type="checkbox" ng-model="row.selected" ng-checked="inquiry.outlets.indexOf(row.id) > -1" ng-change="toggleUser(inquiry, row.id)"><i></i>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{row.name}}
                                                </td>
                                                <td>
                                                    {{row.deliveryAddress}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12"
                                     ng-repeat="product in inquiry.products">
                                    <div class="supplier-row row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                <img class="img-responsive margin-center"
                                                     ng-src="/api/content?contentPath={{product.picture.url}}">
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>{{product.title}}</h4>
                                                <ul class="product-description-list">
                                                    <li><b>Product Code:</b> {{product.code}}</li>
                                                    <li><b>Unit:</b> {{product.unit.unitSymbol}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4 text-center">
                                                <button class="btn btn-sm btn-info" ng-click="removeProduct(inquiry, product)">
                                                    Remove item
                                                </button>
                                            </div>
                                            <div class="col-xs-12 text-center">
                                                Estimated quantity needed per week <input ui-jq="TouchSpin" type="text" ng-model="product.quantity" class="form-control col-xs-3" data-min='1' data-step="1"> UNIT
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-sm btn-warning" ng-click="deleteInquiry(inquiry)">
                                        Delete inquiry cart
                                    </button>
                                    <button class="btn btn-sm btn-success" ng-click="toggleDialog()">
                                        Add more items
                                    </button>
                                    <button class="btn btn-sm btn-success" ng-click="sent(inquiry)">
                                        Sent
                                    </button>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
