<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="StoreListController">
    <div class="col w-md bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg visible-sm visible-xs">
            <button class="btn btn-sm btn-default pull-right" ui-toggle-class="show"
                    target="#category-menu"><i class="fa fa-bars"></i></button>
        </div>
        <div class="wrapper hidden-sm hidden-xs" id="category-menu">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-repeat="category in categories">
                    <a ng-click="selectCategory(category)">{{category.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-body">

                    <span>{{selectedSuppliers.length}} suppliers selling {{selectedCategory.title}}:</span>
                    <br/><br/>

                    <div class="supplier-row clearfix" ng-repeat="supplier in selectedSuppliers">
                        <div class="col-sm-3 text-center">
                            <a ui-sref="app"><h4>{{supplier.supplier.name}}</h4></a>
                            <img class="mc-logo" ng-src="/api/content?contentPath={{supplier.supplier.logo.url}}"
                                 alt="{{supplier.supplier.name}}">

                            <div class="clearfix"></div>
                            <br>
                            <a ui-sref="app.store.supplier({id: {{supplier.id}} })" class="btn btn-sm btn-success">View Supplier's Store</a>
                        </div>
                        <div class="col-sm-9">
                            <p>Available Categories:</p>

                            <div class="category-row">
                                <div class="col-xs-2 category-badge"
                                     ng-repeat="supplierCategory in supplier.categories | limitTo:18">
                                    <span class="badge bg-warning col-xs-12">{{supplierCategory.title}}</span>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-xs-2 text-center" ng-repeat="product in supplier.products | limitTo:6">
                                    <img class="img-responsive margin-center"
                                         ng-src="/api/content?contentPath={{product.picture.url}}">

                                    <p class="product-title">{{product.title}}</p>

                                    <p class="product-price"
                                       ng-hide="supplier.publicPricingVisible || product.productPricingGroups">Contact
                                        for Price</p>

                                    <p class="product-price"
                                       ng-show="supplier.publicPricingVisible || product.productPricingGroups"><span
                                        ng-show="!product.productPricingGroups">{{product.basePrice}}</span><span
                                        ng-show="product.productPricingGroups">{{product.productPricingGroups[0].price}}</span>/{{product.unit.unitSymbol}}
                                        <br/>
                                        <span class="badge gst-badge bg-success col-xs-12"
                                              ng-show="supplier.gstRegistered">GST Inclusive</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
