<div>

    <h2 translate="kbappApp.picture.home.title">Picture</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePictureModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="kbappApp.picture.home.createLabel">Create a new Picture</span>
    </button>
    <div class="modal fade" id="savePictureModal" tabindex="-1" role="dialog" aria-labelledby="myPictureLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPictureLabel" translate="kbappApp.picture.home.createOrEditLabel">Create or edit a Picture</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="picture.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="kbappApp.picture.title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="picture.title">

                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.picture.url">Url</label>
                            <input type="text" class="form-control" name="url"
                                   ng-model="picture.url">

                            <div ng-show="editForm.url.$invalid">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePictureConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(picture.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="kbappApp.picture.delete.question" translate-values="{id: '{{picture.id}}'}">Are you sure you want to delete this Picture?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="kbappApp.picture.title">Title</th>
                    <th translate="kbappApp.picture.url">Url</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="picture in pictures">
                    <td><a ui-sref="pictureDetail({id:picture.id})">{{picture.id}}</a></td>
                    <td>{{picture.title}}</td>
                    <td>{{picture.url}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="pictureDetail({id:picture.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(picture.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(picture.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
