<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>

</div>
<div class="wrapper-md" ng-controller="ViewProductController">
    <div class="panel panel-default">
        <tabset class="tab-container">
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Info
                </tab-heading>
                <div class="row">
                    <div class="col-sm-12">
                        <form name="addEditForm" class="form-horizontal col-sm-12 form-validation">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Product Code</label>

                                    <div class="checkbox">
                                        <label class="i-checks">
                                            <input type="checkbox" checked value="">
                                            <i></i>
                                            Generate product code
                                        </label>
                                    </div>
                                    <input type="text" ng-model="product.code" class="form-subelement form-control"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Product Name</label>
                                    <input type="text" ng-model="product.title" class="form-control"
                                           placeholder="Product Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Other product names</label>

                                    <div class="form-group" ng-repeat="name in product.productAliasSet track by $index">
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control"
                                                   ng-model="product.productAliasSet[$index].name"
                                                   placeholder="name" required>
                                        </div>
                                        <div class="col-xs-1">
                                            <button class="btn btn-sm btn-danger" ng-click="removeOtherName(name)">
                                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"/>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <button type="submit" ng-click="addOtherName()"
                                            class="btn btn-sm btn-default btn-block">Add another name
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">


                                <div class="col-lg-4">
                                    <label>Category</label>
                                    <select name="category" class="form-control m-b">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Subcategory</label>
                                    <select name="subcategory" class="form-control m-b">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Sub-subcategory</label>
                                    <select name="subsubcategory" class="form-control m-b">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form name="addEditForm" class="form-horizontal form-validation">
                        </form>
                    </div>
                </div>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Pricing
                </tab-heading>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Customers
                </tab-heading>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    History
                </tab-heading>
            </tab>
        </tabset>
    </div>
</div>

</div>
