<div class="bg-light lter b-b wrapper-md" ng-controller="ViewProductController">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-default back-button" back-button>Back</button>
            <div class="form-group">
                <div class="col-lg-3">
                    <!--<img ngf-thumbnail="/api/content?contentPath={{product.picture.url}}" class="mc-logo">-->
                </div>
                <div class="col-lg-6">
                    <h4>{{product.code}}</h4>
                    <label class="btn btn-danger" ng-click="deleteProduct()" uncheckable>Remove this product</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <h5>Total amount earn from this</h5>
                <h5>product: </h5>

                <div class="form-group">
                    <div class="btn-group m-r">
                        <label class="btn btn-default" ng-model="product.available" btn-radio="true" uncheckable>Available</label>
                        <label class="btn btn-default" ng-model="product.available" btn-radio="false" uncheckable>Unavailable</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <tabset class="tab-container">
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Info
                </tab-heading>
                <div class="row" ng-controller="ViewProductController">
                    <div class="col-sm-12">
                        <form name="addEditForm" class="form-horizontal col-sm-12 form-validation">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Product Code</label>

                                    <div class="checkbox">
                                        <label class="i-checks">
                                            <input type="checkbox" checked ng-model="generateCode">
                                            <i></i>
                                            Generate product code
                                        </label>
                                    </div>
                                    <input type="text" ng-model="product.code" class="form-subelement form-control"
                                           required ng-disabled="generateCode ">
                                </div>
                                <div class="col-lg-6">
                                    <label>Product image</label>

                                    <div class="col-lg-10">
                                        <img ngf-thumbnail="logo[0]" class="mc-logo"
                                             ng-src="/api/content?contentPath={{product.picture.url}}">

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-model="logo" ngf-select
                                                    ngf-change="uploadLogo(logo)">Upload
                                                Image
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="removeLogo()">
                                                Remove
                                            </button>
                                            <input name="fileName" class="form-control " ng-model="logo[0].name"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Product Name</label>
                                    <input type="text" ng-model="product.title" class="form-control"
                                           placeholder="Product Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Other product names</label>

                                    <div class="form-group" ng-repeat="name in product.productAliasSet track by $index">
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control"
                                                   ng-model="product.productAliasSet[$index].name"
                                                   placeholder="name">
                                        </div>
                                        <div class="col-xs-1">
                                            <button class="btn btn-sm btn-danger" ng-click="removeOtherName(name)">
                                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"/>
                                            </button>
                                        </div>
                                    </div>
                                    <button type="submit" ng-click="addOtherName()"
                                            class="btn btn-sm btn-default btn-block">Add another name
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>Category</label>
                                    <select name="category" ng-model="product.category"
                                            ng-options="category.title for category in categories track by category.title"
                                            class="form-control m-b" ng-change="loadSubCategories(category)"
                                            required>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Subcategory</label>
                                    <select name="subcategory" ng-model="product.subCategory" class="form-control m-b"
                                            ng-options="subcategory.title for subcategory in subCategories"
                                            ng-change="loadSubSubCategories(subcategory)">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Sub-subcategory</label>
                                    <select name="subSubCategory" ng-model="product.subSubCategory"
                                            class="form-control m-b"
                                            ng-options="subSubCategory.title for subSubCategory in subSubCategories">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <div counter value="product.quantity" min="1" step="1" required></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>Brand</label>
                                    <input type="text" ng-model="product.brand" class="form-control"
                                           placeholder="Brand">
                                </div>
                                <div class="col-lg-4">
                                    <label>Origin</label>
                                    <input type="text" ng-model="product.origin" class="form-control"
                                           placeholder="Origin">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label">Certified Halal</label>
                                    <select name="type" ng-model="product.certifiedHalal" class="form-control"
                                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: false }, { n: 'No', v: true }]"
                                        >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label">Unit</label>
                                    <select name="type" ng-model="product.unit" class="form-control"
                                            ng-options="unit.unitSymbol for unit in units track by unit.unitSymbol"
                                            required>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Unit Description</label>
                                    <input type="text" ng-model="product.unitDescription" class="form-control"
                                           placeholder="Unit Description">
                                </div>
                                <div class="col-lg-4">
                                    <label></label>

                                    <div class="checkbox">
                                        <label class="i-checks i-checks-lg">
                                            <input type="checkbox" value="">
                                            <i></i>
                                            Hide unit description for this item
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label>Description</label>
                                    <input type="text" ng-model="product.description" class="form-control"
                                           placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="submit" ng-disabled="addEditForm.$invalid"
                                                ng-click="saveProduct()"
                                                class="full-width-button btn btn-lg btn-info">Save
                                        </button>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="full-width-button btn btn-lg btn-warning"
                                                confirmed-click="revertChanges()" ng-confirm-click>
                                            Revert Changes
                                        </button>
                                    </div>
                                    <div class="col-lg-3">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Pricing
                </tab-heading>
                <div class="row" ng-controller="ViewPricingProductController">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="table-responsive scroll-box-big">
                                    <table st-table="rowCollection" st-safe-src="pricingGroups" st-select-mode
                                           class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center" st-sort="name">Name</th>
                                            <th class="text-center" st-sort="description">Note</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in rowCollection" ng-click="selectPricingGroup(row)">
                                            <td class="text-center">{{row.groupName}}</td>
                                            <td class="text-center">{{row.description}}</td>
                                            <td class="edit-input" ng-click="editPrice(row)">
                                                <input type="text" ng-model="pricingGroup.price"
                                                       class="form-control col-md-4"
                                                       placeholder="$10"
                                                       ng-disabled="!row.editMode"
                                                       ng-enter="saveProduct(row, pricingGroup)">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    Customers
                </tab-heading>
                <div class="row" ng-controller="ViewCustomersProductController">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="table-responsive scroll-box-big">
                                    <table st-table="rowCollection" st-safe-src="purchasers" st-select-mode
                                           class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center" st-sort="name">Customer</th>
                                            <th class="text-center" st-sort="lastPurchase">Last Purchase</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="selectable" ng-repeat="row in rowCollection"
                                            ng-click="selectPurchaser(row)">
                                            <td class="text-center">{{row.code}} {{row.name}}</td>
                                            <td class="text-center">{{row.lastPurchase | date:"EEEE, MMM dd.yyyy
                                                h:mma"}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab class="tab-bootstrap col-sm-3">
                <tab-heading>
                    History
                </tab-heading>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="table-responsive scroll-box-big">
                                    <table st-table="rowCollection" st-safe-src="purchasers" st-select-mode
                                           class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center" st-sort="action">Action</th>
                                            <th class="text-center" st-sort="date">Date</th>
                                            <th class="text-center" st-sort="date">Action by:</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="selectable" ng-repeat="row in rowCollection"
                                            ng-click="selectPurchaser(row)">
                                            <td>{{row.action}}</td>
                                            <td>{{row.date | date:"EEEE, MMM dd.yyyy h:mma"}}</td>
                                            <td>{{row.actionBy}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

</div>
