<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li>
        <a ui-sref="app.overview">
            <i class="glyphicon glyphicon-th-large text-info-dker"></i>
            <span class="font-bold">Overview</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.order">
            <i class="glyphicon glyphicon-shopping-cart text-info-dker"></i>
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrder">
            <i class="glyphicon glyphicon-time text-info-dker"></i>
            <span class="font-bold">Standing Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.paymentSchedule">
            <i class="glyphicon glyphicon-credit-card text-info-dker"></i>
            <span class="font-bold">Payment Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.deliverySchedule">
            <i class="glyphicon glyphicon-road text-info-dker"></i>
            <span class="font-bold">Delivery Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.customer">
            <i class="glyphicon glyphicon-user text-info-dker"></i>
            <span class="font-bold">Customer</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.product">
            <i class="glyphicon glyphicon-star text-info-dker"></i>
            <span class="font-bold">Product</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.pricing">
            <i class="glyphicon glyphicon-usd text-info-dker"></i>
            <span class="font-bold">Pricing</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.setting">
            <i class="glyphicon glyphicon-cog text-info-dker"></i>
            <span class="font-bold">Setting</span>
        </a>
    </li>
    <li class="line dk hidden-folded"></li>
    <li>
        <a ui-sref="app.personalProfile">
            <i class="icon-user icon"></i>
            <span>Personal Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.activityLog">
            <i class="icon-info icon"></i>
            <span>Activity Log</span>
        </a>
    </li>
</ul>
<!-- / list -->
