<!-- list -->
<ul class="nav">
    <li>
        <a ui-sref="app.overview">
            <span class="font-bold">Overview</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.order">
            <span class="font-bold">Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.standingOrder">
            <span class="font-bold">Standing Order</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.paymentSchedule">
            <span class="font-bold">Payment Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.deliverySchedule">
            <span class="font-bold">Delivery Schedule</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.customer">
            <span class="font-bold">Customer</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.product">
            <span class="font-bold">Product</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.pricing">
            <span class="font-bold">Pricing</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.setting">
            <span class="font-bold">Setting</span>
        </a>
    </li>
    <li class="line dk hidden-folded"></li>
    <li>
        <a ui-sref="app.personalProfile">
            <span>Personal Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.activityLog">
            <span>Activity Log</span>
        </a>
    </li>
</ul>
<!-- / list -->
