<div class="wrapper-md" ng-controller="EateryInvitationController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="form" class="form-horizontal col-sm-12 form-validation">
                        <div class="form-group">
                            <label class=" control-label">From</label>

                            <input type="text" class="form-control" ng-model="eateryInvitation.from"
                                   placeholder="From" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">To</label>

                            <input type="text" class="form-control" ng-model="eateryInvitation.to"
                                   placeholder="To" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Person</label>

                            <input type="text" class="form-control" ng-model="eateryInvitation.contactPerson"
                                   placeholder="Contact Person" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Number</label>

                            <input type="text" class="form-control" ng-model="eateryInvitation.contactNumber"
                                   placeholder="Contact Number" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">Email</label>

                            <input type="email" class="form-control" ng-model="eateryInvitation.email"
                                   placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label>Recommendation message</label>
                            <textarea type="email" class="form-control"
                                      ng-model="eateryInvitation.recommendationMessage"
                                      placeholder="Recommendation Message" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Email Content</label>
                            <textarea type="email" class="form-control" ng-model="eateryInvitation.emailContent"
                                      placeholder="Email Content" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Contact number</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="userCompanyDTO.company.contactNumber"
                                       placeholder="Contact number" required>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="!companyId || companyStatus == 'PENDING'">
                            <label class="col-lg-2 control-label">Status</label>

                            <div class="col-lg-10">
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio" ng-model="userCompanyDTO.company.status" name="status"
                                               value="ACTIVE">
                                        <i></i> Active
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="i-checks">
                                        <input type="radio" ng-model="userCompanyDTO.company.status" name="status"
                                               value="INACTIVE"
                                               checked>
                                        <i></i> Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <span type="submit" class="btn btn-sm btn-info" ng-disabled="form.$invalid"
                                      ng-show="!companyId" ng-disabled="addEditForm.$invalid" ng-click="addCompany()">Send Invitation</span>
                                <span type="submit" class="btn btn-sm btn-info"
                                      ng-show="companyId && companyStatus == 'PENDING'"
                                      ng-disabled="addEditForm.$invalid"
                                      ng-click="updateCompanyInfo()">Update and Send</span>
                                <span type="submit" class="btn btn-sm btn-info"
                                      ng-show="companyId && companyStatus != 'PENDING'"
                                      ng-disabled="addEditForm.$invalid" ng-click="addCompany()">Update</span>
                                <span class="btn btn-sm btn-danger" back-button>Cancel</span>
                                <span class="btn btn-sm btn-danger" confirmed-click="deleteCompany()"
                                      ng-hide="!companyId" ng-confirm-click>Delete</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>
