<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="PaymentTermController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-info btn-rounded" ng-click="addPayment()">Add Payment</button>

                    <ul ui-sortable="sortableOptions"
                        class="list-group gutter list-group-lg list-group-sp types-list"
                        ng-model="payments">
                        <li class="list-group-item" ng-repeat="payment in payments"
                            ng-class="{selectedSortable: selectedPayment.id == payment.id}">
                                <span class="pull-left">
                                    <i class="fa fa-sort text-muted fa m-r-sm"></i>
                                </span>
                            <button class="btn btn-danger btn-rounded pull-right" ng-click="removePayment(payment.id)">
                                Delete
                            </button>

                            <div class="clear type-name" ng-click="editPayment(payment)">
                                <span ng-show="payment.termType == 'MFI'">{{ payment.numOfDays }}</span> {{ payment.termType }} <span ng-show="payment.termType == 'NET'">{{ payment.numOfDays }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6" ng-show="selectedPayment.id || newType">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Type of payment term</label>

                            <select class="form-control" name="type" ng-model="selectedPayment.termType">
                                <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No of days</label>

                            <select class="form-control" name="daysNumber" ng-model="selectedPayment.numOfDays"
                                    ng-options="n for n in [] | range:1:30"
                                    ng-disabled="selectedPayment.termType == 'COD' || selectedPayment.termType == 'EOM'">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Payment Name</label>

                            <input type="text" class="form-control" ng-model="selectedPayment.termName"
                                   placeholder="Payment Name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Payment Term Description</label>

                            <textarea class="form-control" placeholder="description" rows="5"
                                      ng-model="selectedPayment.description"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" ng-click="savePayment()" class="btn btn-sm btn-info">Save
                            </button>
                            <button class="btn btn-sm btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
