<div>

    <h2 translate="kbappApp.outlet.home.title">Outlet</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOutletModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="kbappApp.outlet.home.createLabel">Create a new Outlet</span>
    </button>
    <div class="modal fade" id="saveOutletModal" tabindex="-1" role="dialog" aria-labelledby="myOutletLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOutletLabel" translate="kbappApp.outlet.home.createOrEditLabel">Create or edit a Outlet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="outlet.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="kbappApp.outlet.title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="outlet.title">

                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.outlet.delivery_address">Delivery_address</label>
                            <input type="text" class="form-control" name="delivery_address"
                                   ng-model="outlet.delivery_address">

                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.outlet.contact_number">Contact_number</label>
                            <input type="text" class="form-control" name="contact_number"
                                   ng-model="outlet.contact_number">

                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.outlet.postal_code">Postal_code</label>
                            <input type="text" class="form-control" name="postal_code"
                                   ng-model="outlet.postal_code">

                        </div>
                        <div class="form-group">
                            <label translate="kbappApp.outlet.email">Email</label>
                            <input type="text" class="form-control" name="email"
                                   ng-model="outlet.email">

                        </div>

                        <div class="form-group">
                            <label translate="kbappApp.outlet.Eatery">Eatery</label>
                            <select class="form-control" name="Eatery" ng-model="outlet.eatery.id" ng-options="eatery.id as eatery.id for eatery in eaterys">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOutletConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(outlet.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="kbappApp.outlet.delete.question" translate-values="{id: '{{outlet.id}}'}">Are you sure you want to delete this Outlet?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="kbappApp.outlet.title">Title</th>
                    <th translate="kbappApp.outlet.delivery_address">Delivery_address</th>
                    <th translate="kbappApp.outlet.contact_number">Contact_number</th>
                    <th translate="kbappApp.outlet.postal_code">Postal_code</th>
                    <th translate="kbappApp.outlet.email">Email</th>
                    <th translate="kbappApp.outlet.Eatery">Eatery</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="outlet in outlets">
                    <td><a ui-sref="outletDetail({id:outlet.id})">{{outlet.id}}</a></td>
                    <td>{{outlet.title}}</td>
                    <td>{{outlet.delivery_address}}</td>
                    <td>{{outlet.contact_number}}</td>
                    <td>{{outlet.postal_code}}</td>
                    <td>{{outlet.email}}</td>
                    <td>{{outlet.Eatery.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="outletDetail({id:outlet.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(outlet.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(outlet.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
