<div class="wrapper-md" ng-controller="CompanyProfileController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="companyProfileForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Company Code</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.code" class="form-control" placeholder="Company Code"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Company Name</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.name" class="form-control" placeholder="Company Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Business Registration No.</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.supplierDetails.busRegNumber" class="form-control"
                               placeholder="Business Registration No." required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Business Description</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.supplierDetails.busDescription" class="form-control"
                               placeholder="Business Description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Address</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.supplierDetails.address" class="form-control"
                               placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Company Contact Number</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.contactNumber" class="form-control"
                               placeholder="Company Contact Number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Company Email Address</label>

                    <div class="col-lg-10">
                        <input type="email" ng-model="company.email" class="form-control"
                               placeholder="Company Email Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">GST Registered</label>

                    <div class="col-lg-10">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.gstRegistered" name="gstRegistered" value="true">
                                <i></i> Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.gstRegistered" name="gstRegistered" value="false"
                                       checked>
                                <i></i> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="company.supplierDetails.gstRegistered == 'true'">
                    <label class="col-lg-2 control-label">GST Registration No.</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="company.supplierDetails.gstRegistrationNumber" class="form-control"
                               placeholder="GST Registration No.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Logo</label>

                    <div class="col-lg-10">
                        <img id="logo" class="mc-logo image-preview" src="img/logo_placeholder.png"
                             ng-src="{{company.logo}}"/>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" click-selector="#upload-logo">Upload
                                Image
                            </button>
                            <input id="upload-logo" type="file" file-model="logo" accept="image/*"
                                   style="display: none;">
                            <button type="button" class="btn btn-default" ng-click="removeLogo()">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Base Pricing to be Visible to Public</label>

                    <div class="col-lg-10">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.publicPricingVisible" name="publicPricingVisible" value="true">
                                <i></i> Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.publicPricingVisible" name="publicPricingVisible" value="false"
                                       checked>
                                <i></i> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Optional Image to Appear at Top-Right Corner of Delivery
                        Order and Invoice</label>

                    <div class="col-lg-10">
                        <img id="companyPictures" class="mc-logo image-preview" src="img/logo_placeholder.png"
                             ng-src="{{picture.url}}" ng-model="" ng-repeat="picture in company.supplierDetails.pictures"/>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" click-selector="#upload-optional-image">
                                Upload
                                Image
                            </button>
                            <input id="upload-optional-image" type="file" file-model="optionalImage"
                                   accept="image/*"
                                   style="display: none;">
                            <button type="button" class="btn btn-default" ng-click="removeOptionalImage()">Remove
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Optional Image to Appear at Top-Right Corner of Delivery
                        Order and Invoice</label>

                    <div class="col-lg-10">
                        <img id="optionalImage" class="mc-logo image-preview" src="img/logo_placeholder.png"
                             ng-src="{{company.optionalImage}}"/>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" click-selector="#upload-optional-image">
                                Upload
                                Image
                            </button>
                            <input id="upload-optional-image" type="file" file-model="optionalImage"
                                   accept="image/*"
                                   style="display: none;">
                            <button type="button" class="btn btn-default" ng-click="removeOptionalImage()">Remove
                            </button>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-sm">View Purchase Order Template</button>
                    </div>
                    <div class="col-lg-9 col-lg-offset-1">
                        <button type="submit" class="btn btn-sm btn-info">Save Changes</button>
                        <button class="btn btn-sm btn-danger">Revert Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

