<div class="wrapper-md" ng-controller="CompanyProfileController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="companyProfileForm" class="form-horizontal form-validation">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Code</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.code" class="form-control" placeholder="Company Code"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Name</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.name" class="form-control" placeholder="Company Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Business Registration No.</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.supplierDetails.busRegNumber" class="form-control"
                               placeholder="Business Registration No.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Business Description</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.supplierDetails.busDescription" class="form-control"
                               placeholder="Business Description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.supplierDetails.address" class="form-control"
                               placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Contact Number</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.contactNumber" class="form-control"
                               placeholder="Company Contact Number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Fax Number</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.supplierDetails.faxNumber" class="form-control"
                               placeholder="Company Fax Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Email Address</label>

                    <div class="col-sm-10">
                        <input type="email" ng-model="company.email" class="form-control"
                               placeholder="Company Email Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">GST Registered</label>

                    <div class="col-sm-10">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.gstRegistered" name="gstRegistered" value="true" ng-value="true">
                                <i></i> Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.gstRegistered" name="gstRegistered" value="false" ng-value="false">
                                <i></i> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="company.supplierDetails.gstRegistered">
                    <label class="col-sm-2 control-label">GST Registration No.</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="company.supplierDetails.gstRegistrationNumber" class="form-control"
                               placeholder="GST Registration No.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Logo</label>

                    <div class="col-lg-10">
                        <img ngf-thumbnail="logo[0]" class="mc-logo"
                             ng-src="/api/content?contentPath={{company.logo.url}}">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="logo" ngf-select
                                    ngf-change="uploadLogo(logo)">Upload
                                Image
                            </button>
                            <button type="button" class="btn btn-default" ng-click="removeLogo()">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Base Pricing to be Visible to Public</label>

                    <div class="col-sm-10">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.publicPricingVisible" name="publicPricingVisible" value="true" ng-value="true">
                                <i></i> Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" ng-model="company.supplierDetails.publicPricingVisible" name="publicPricingVisible" value="false" ng-value="false">
                                <i></i> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Company Pictures</label>

                    <div class="col-lg-10">
                        <img class="mc-logo small selectable" ng-class="{selected: image.url == selectedPicture}" ng-repeat="image in company.supplierDetails.pictures"
                             ng-src="/api/content?contentPath={{image.url}}" ng-click="selectPicture(image.url)">

                        <div class="clearfix"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="companyPictures" ngf-select
                                    ngf-change="uploadCompanyPictures(companyPictures)" ngf-multiple="true"
                                    ngf-accept="'.jpg,.png,.gif'">Upload
                                Image
                            </button>
                            <button type="button" class="btn btn-default" ng-click="removeCompanyPicture()">Remove
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Optional Image to Appear at Top-Right Corner of Delivery
                        Order and Invoice</label>

                    <div class="col-lg-10">
                        <img ngf-thumbnail="optionalImage[0]" class="mc-logo"
                             ng-src="/api/content?contentPath={{company.supplierDetails.mainPicture.url}}">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="mainPicture" ngf-select
                                    ngf-change="uploadMainPicture(mainPicture)">Upload
                                Image
                            </button>
                            <button type="button" class="btn btn-default" ng-click="removeMainPicture()">Remove
                            </button>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-sm">View Purchase Order Template</button>
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="companyProfileForm.$invalid" ng-click="update()" >Save Changes</button>
                        <button class="btn btn-sm btn-danger" ng-click="revert()">Revert Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

