<div class="wrapper-md" ng-controller="CompanyOffDaysController">
    <div class="panel panel-default">
        <div class="panel-header text-center">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Off-days for every year</h4>
                    <script type="text/ng-template" id="myModalContent.html">
                        <div ng-include="'templates/company_settings/off_days.create.modal.html'"></div>
                    </script>
                    <button class="btn btn-info btn-rounded" ng-click="openModal(true)">Create yearly off-day</button>
                </div>
                <div class="col-sm-6">
                    <h4>Off-days for</h4>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <select class="form-control" ng-model="selectedYear"
                                    ng-options="year for year in years"></select>
                        </div>
                    </div>
                    <div class="additional-padding">
                        <button class="btn btn-info btn-rounded" ng-click="openModal()">Create off-day for this year</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="wrapper">
                <ul class="timeline timeline-center">
                    <li class="tl-header timeline-center">
                        <div class="btn">Now</div>
                    </li>
                    <li class="tl-item" ng-repeat="(key, value) in holidays">
                        <div class="tl-wrap">
                            <span class="tl-date">{{ key }}</span>

                            <div class="tl-content panel padder b-a holiday-wrap" ng-repeat="day in value">
                                <!--<span class="arrow left pull-up hidden-left"-->
                                      <!--ng-show="day.absenceType == 'HOLIDAY'"></span>-->
                                <!--<span class="arrow right pull-up visible-left"-->
                                      <!--ng-show="day.absenceType == 'DAYOFF'"></span>-->
                                <span class="arrow left pull-up"></span>

                                <div>{{ day.description }}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
