<div class="modal-header">
    <h3 class="modal-title">Create Off-day</h3>
</div>
<div class="modal-body">

    <form name="form" class="form-validation">
        <div class="additional-padding text-center">
            <div sb-date-select sb-select-class="form-control select-date" min="dateMin" max="dateMax" ng-model="dayOff.date"></div>
        </div>
        <div class="clearfix"></div>
        <div class="additional-padding">
            <div class="form-group">
                <label class="control-label">Reason for closing</label>
                <input type="text" ng-model="dayOff.description" class="form-control"
                       placeholder="Reason for closing" required>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table st-table="rowCollection" st-safe-src="orders" class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center" st-sort="orderNumber">Order No.</th>
                    <th class="text-center" st-sort="eatery.name">Eatery</th>
                    <th class="text-center" st-sort="status">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td>{{row.orderNumber}}</td>
                    <td>{{row.eatery.name}}</td>
                    <td>{{row.status}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination class="no-margin"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Save</button>
</div>
