<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default back-button" back-button>Back</button>
</div>
<div class="wrapper-md" ng-controller="PublicHolidayAddEditController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="addEditForm" class="form-horizontal form-validation col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" ng-model="publicHoliday.description" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control" ng-model="publicHoliday.date"
                                       is-open="opened"
                                       datepicker-popup="dd-MM-yyyy" ng-required="true" close-text="Close" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-danger" ng-click="delete()" ng-show="publicHolidayId">Delete</button>
                                <button type="submit" class="btn btn-sm btn-info" ng-disabled="addEditForm.$invalid"
                                        ng-click="save()" ng-disabled="!form.$valid">Save
                                </button>
                                <span class="btn btn-sm btn-warning" back-button>Cancel</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
